@import url('//fonts.googleapis.com/css?family=Lustria');
@import url('//fonts.googleapis.com/css?family=Lato');
body {
  background-color: #E8E8E8;
  font-family: Lato, Sans-serif;
}

#navbar {
  background-color: #9C9B7A;
  color: #FFD393;
  height: 70px;
  text-align: middle;
}


  footer {
            color: #FF974F;
            background: #405952;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }
