body{
	font-family: Verdana;
}

#header{
	margin-left: 100px;
	margin-top: 30px;
	font-size: 110%;
}


.counties {
	fill: none;
	stroke: black;
	stroke-width:.2;
}

.states {
	fill: none;
	stroke: black;
	stroke-linejoin: round;	
	stroke-width:1;
}

.select {
	margin-top: 8px;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	font-size: 100%;
 }

#selectPer{
	width: 160px;
}

#selectType{
	width: 280px;
}

#mapbox {
  border-style: solid;
  border-width: 1px;
}

svg{
	margin-top: 0 auto;
  border-style: solid;

}

#map {
  margin: 0 auto;
}

#links{
	text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#navbar {
  background-color: #405952;
  color: #F54F29;
  height: 75px;
}

.Aboutbtn {
  margin-right: 10px;
}

        footer {
            color: #FF974F;
            background: #405952;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }
