@import url('//fonts.googleapis.com/css?family=Lustria:400,700,300');
@import url('//fonts.googleapis.com/css?family=Lato:400,700,300');
:root {
  --reddish: #962D3E;
  --blueish: #348899;
  --whiteish: #F2EBC7;
  --grey: #ddd;
}
body{
	font-family: Lato, Sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;

}

#header{
	margin-left: 100px;
	margin-top: 30px;
	font-size: 110%;
}


.counties {
	fill: none;
	stroke: black;
	stroke-width:.2;
}

.states {
	fill: none;
	stroke: black;
	stroke-linejoin: round;	
	stroke-width:1;
}

.select {
	margin-top: 8px;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	font-size: 100%;
 }

#selectPer{
	width: 160px;
}

#selectType{
	width: 280px;
}

#mapbox {
  border-style: solid;
  border-width: 1px;
}

svg{
	margin-top: 0 auto;
  border-style: solid;

}

#map {
  margin: 0 auto;
}

#links{
	text-align: center;
}

#navbar {
  background-color: #F2EBC7;
  color:  #348899;
  height: 70px;
  text-align: middle;
}
  --reddish: #962D3E;
  --blueish: #348899;
  --whiteish: #F2EBC7;

.Aboutbtn {
  margin-right: 10px;
}

footer {
            color: #F54F29;
            background: #405952;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
            margin-top: 2em;
            margin-bottom; 0;
            position: absolute;
            width: 100%;
        }
footer a {
  color: #E8E8E8;
}

h1 {
  font-family: Lustria, Sans-serif;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:  #348899;
color:  #F2EBC7;
}

.nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
background-color:  #F2EBC7;
color:#348899;
}

.mapholder {
  margin: 0 auto;
}

.list-industry {
  background-color: #F2EBC7;
  box-shadow: 1px 1px 1px 1px;
}
