<!DOCTYPE html>
<meta charset="utf-8">
<head>
<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="about.css"/>
</head>
<body>
<nav class="navbar navbar-default" id="navbar" style="height: 70px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="DEW" src="{{url_for('static', filename='data1.svg')}}" style="height: 40px"></a>
      <div style="margin-top: 10px;">
        <div style="display: table-cell; vertical-align: middle;">The Detailed Economic Window (DEW)</div>
        </div>
      </div>
      <div class="pull-right" style="margin-top: 10px">
      <ul class="nav nav-pills">
        <li>
        <a href="{{ url_for('home')}}">National Map</a>
        <li class="active"><a href="{{ url_for('about')}}">About</a></li>
       </ul>
     </div>
     </div>
   </div>
</nav>

<div class="container">
  <div class="row">
    <div class="span12">
      <h1>About the Detailed Economic Window</h1>
      <h2>The Project</h2>
      <p>The Detailed Economic Window (DEW) was born from the <a href = "http://www.districtdatalabs.com/#!incubator/c185j">District Data Labs Incubator Program</a>. The goal of this project is to help those in the public and private sectors make efficient investment decisions. For this project, out team estimated economic activity and demand by analyzing historic data from the Bureau of Labor Statistics (BLS) amongst others. At the same time, we created predictive algorithms identifying regions of the country with overwhelming demand for specific industries, skills or resources. The outcome of these efforts is an interactive national map showing these results.</p>

      <h2>District Data Labs</h2>
      <p>
The idea for District Data Labs grew out of DC's vibrant data science community and the melting pot of statisticians, data consultants, analytics contractors, hackers, and entrepreneurs that belong to it. The stated goal of District Data Labs is to become 'an efficient learning resource for people who want to enhance and expand their analytical and technical skill sets.'      
      </p>
      <h2>The Team</h2>
      Our team is composed of specialists with years of policy and data expertise.</br>
      <ul>
        <li>
        <strong>Elaine Ayo</strong>
        Elaine Ayo is finishing up her master’s in mathematics and statistics at Georgetown, and works as a data analyst for a policy research firm, primarily focusing on evaluation of nutrition assistance programs.</li>

        <li><strong>Danielle Llanos</strong>
        Danielle Llanos is an enterprise architect at the World Bank who recently completed her master’s in mathematics and statistics at Georgetown.</li>

        <li><strong>Will Sankey</strong>
        Will Sankey is a researcher at L&M Policy Research, LLC with three years experience working on large project evaluations for the Centers for Medicare and Medicaid Services (CMS).</li>

        <li><strong>Jing You</strong>
        Jing You is a recent graduate of George Washington University’s master’s in business analytics program. She has one-year experience on data analysis and business intelligence, and she is also a data analytics intern at Golfswell.</li>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    Detailed Economic Window
  </div>
</footer>
</body>
