<!DOCTYPE html>
<meta charset="utf-8">
<head>
<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="data.css"/>
</head>
<div class="jumbotron">
  <h1>The Detailed Economic Window</h1>
  <p>Your view on the economy.</p>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">The Window</a></p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center"><h2>Learn More</h2>
    </div>
     <ul>
      <div class="col-md-4 text-center">
               <li> <img alt="Finance" src="{{url_for('static', filename='healthcare.svg')}}" style="height: 40px"></img>
               View the Window, visualizations on industrial activity in the economy.</li></div>
      <div class="col-md-4 text-center">
        <li>
          <img alt="Finance" src="{{url_for('static', filename='healthcare.svg')}}" style="height: 40px"></img>
        Learn more about publicly available economic data.</li></div>
      <div class="col-md-4 text-center">
        <li>
                <img alt="Finance" src="{{url_for('static', filename='healthcare.svg')}}" style="height: 40px"></img>
        Read about the project and the team.</li></div>
      </ul>
    </div>
  </div>
</div>
