<!DOCTYPE html>
<meta charset="utf-8">
<head>
<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="tooltip.css"/>
<script src="{{url_for('static', filename='d3.min.js')}}"></script>
<script src="{{url_for('static', filename='queue.min.js')}}"></script>
<script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="stylesheet" type="text/css" href="data.css"/>


</head>
<nav class="navbar navbar-default" style="margin: 0 auto; background-color:white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='dewlogo.svg')}}" style="height: 40px"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">DEW</a></li>
        <li><a href="#">Using DEW</a></li>
        <li><a href="#">Methodology</a></li>
        <li><a href="#">About Us</a></li>
         </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>
<div class="jumbotron">
  <h1>The Detailed Economic Window</h1>
  <p>Your view on the economy. Scroll down to see the Window.</p>
    <span class="glyphicon glyphicon-chevron-down btn-lg" aria-hidden="true"></span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" id="maptitle">
      <h3>We all wonder how or if economic opportunities in our area are expanding. The Detailed Economic Window (DEW) is a platform helping you better understand these trends in your community.</h3>
   </div>
      <svg id="map"></svg>
      <div class="col-md-12" style: "border-top: solid 2px;">
        <h4>Select the industry of your interest below.</h4>
          <form id="totalCap">
		<select id="selectType" class="select">
      <!-- <option value="lq_11">Agriculture, forestry, fishing and hunting</option> -->
			<option value="lq_21">Mining, quarrying, and oil and gas extraction</option>
      <!-- <option value="lq_22">Utilities</option> -->
			<option value="lq_23">Construction</option>
      <!-- <option value="lq_42">Wholesale trade</option> -->
			<option value="lq_51">Information</option>
			<option value="lq_52">Finance and insurance</option>
      <!-- <option value="lq_53">Real estate and rental and leasing</option> -->
      <!-- <option value="lq_54">Professional and technical services</option> -->
      <!-- <option value="lq_55">Management of companies and enterprises</option> -->
      <!-- <option value="lq_56">Administrative and waste servics</option> -->
			<option value="lq_61">Educational services</option>
			<option value="lq_62">Health care and social assistance</option>
			<option value="lq_71">Arts, entertainment and recreation</option>
      <!-- <option value="lq_72">Accomodation and food services</option> -->
      <!-- <option value="lq_81">Other services, expect public administration</option> -->
      <!-- <option value="lq_92">Public administration</option> -->
		</select>			
	</form>
</div>

  </div>
</div>

    </div>
  </div>
</div>

<div class="container-fluid" id="learnmore">
  <div class="row">
    <div class="col-md-12 text-center"><h2>Learn More</h2>
    </div>
     <ul>
      <div class="col-md-4 text-center" id="dewplatform">
        <li>
        View the Window alongside historical data on industrial activity and wages.</div>
      <div class="col-md-4 text-center" id="methodology">
        <li>
        Learn more about publicly available economic data.</div>
      <div class="col-md-4 text-center" id="aboutus">
        <li>
        Read about the project and the team.</div>
      </ul>
    </div>
  </div>
</div>
</body>
<script src="{{url_for('static', filename='dewmap2.js')}}"></script>

