<!DOCTYPE html>
<meta charset="utf-8">
<head>
<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="tooltip.css"/>
<script src="{{url_for('static', filename='d3.min.js')}}"></script>
<script src="{{url_for('static', filename='queue.min.js')}}"></script>
<script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>


<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<nav class="navbar navbar-default" id="navbar" style="height: 100px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="DEW" src="{{url_for('static', filename='data1.svg')}}" style="height: 100px"></a>
      <div style="margin-top: 10px;">
        </div>
      </div>
      <div class="pull-right" style="margin-top: 10px">
      <ul class="nav nav-pills">
        <li class="active">
        <a href="{{ url_for('home')}}">National Map</a>
        <li><a href="{{ url_for('about')}}">About</a></li>
       </ul>
     </div>
     </div>
   </div>
</nav>

<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Industrial concentration across the country</h1>
      <p>Scroll around the country and find location quotients in your area.</p>
    </div>
  </div>
</div>

</div>
<div class="container mapholder">
  <div class="row">
    <div class="span12">
      <svg id="map" style="margin: 0 auto"></svg>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
     <div class="span8">
    <form id="totalCap">
		<select id="selectType" class="select">
      <!-- <option value="lq_11">Agriculture, forestry, fishing and hunting</option> -->
			<option value="lq_21">Mining, quarrying, and oil and gas extraction</option>
      <!-- <option value="lq_22">Utilities</option> -->
			<option value="lq_23">Construction</option>
      <!-- <option value="lq_42">Wholesale trade</option> -->
			<option value="lq_51">Information</option>
			<option value="lq_52">Finance and insurance</option>
      <!-- <option value="lq_53">Real estate and rental and leasing</option> -->
      <!-- <option value="lq_54">Professional and technical services</option> -->
      <!-- <option value="lq_55">Management of companies and enterprises</option> -->
      <!-- <option value="lq_56">Administrative and waste servics</option> -->
			<option value="lq_61">Educational services</option>
			<option value="lq_62">Health care and social assistance</option>
			<option value="lq_71">Arts, entertainment and recreation</option>
      <!-- <option value="lq_72">Accomodation and food services</option> -->
      <!-- <option value="lq_81">Other services, expect public administration</option> -->
      <!-- <option value="lq_92">Public administration</option> -->
		</select>			
	</form>
    <p><em>Find out more about each industry in the 'industry description' section below.</em></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Understanding the Location Quotient</h1>
      <p>
The location quotient (LQ) is a way of quantifying the concentration of a particular industry, occupation, or demographic group in a region as compared to a larger area (i.e. nation or state) as a whole. It is an index frequently used in geography and economics to measure the relative concentration of activities, and is critical to understanding an area's economic strengths and weaknesses. It can reveal what makes a particular region “unique” in comparison to the national average. Specifically LQs can help identify emerging export industries beginning to bring money into the region, as well as endangered export industries that could erode the region’s economic base.</p>
<p>Location Quotients are determined by a formula similar to the one below.</p>

<h2>Interpreting the Formula</h2>
<h3>Location Quotient = (% of local employment in sector X) / (% of regional employment in sector X)</h3>

<ul>
  <li>A LQ greater than 1 signifies that an industry’s concentration in a local region is larger than the national concentration.</li><br>
  <li>A LQ less than or equal to 1 signifies than an industry’s concentration in a local region is less than the national concentration and may not have a great effect on the economic landscape as a whole.</li><br>
  <li>Meanwhile an LQ significantly greater than 1 is expected to indicate an industry that has the potential to be classified as an exporter.</li>
</ul>
<p>As previously mentioned, the LQ is used identify export/import industries based on certain assumptions; such as the idea that local consumption and labor productivity are uniform across all regions. Based on this assumption, if an industry’s local presence exceeds its national share then local production is said to exceed local demand. Thus, a portion of local employment in that industry is assumed to be export. If the local presence is less than or equal to the national, then it is assumed that local production serves only local demand.
      </p>
         <h2>Industry Descriptions</h2>
          <ul>
            <li class="list-industry"><img alt="Mining" src="{{url_for('static', filename='mining.svg')}}" style="height: 70px"></a><strong>Mining, Quarrying, and Oil</strong>
          <p>
          The Mining, Quarrying, and Oil and Gas Extraction sector comprises establishments that extract naturally occurring mineral solids, such as coal and ores; liquid minerals, such as crude petroleum; and gases, such as natural gas. The term mining is used in the broad sense to include quarrying, well operations, beneficiating, and other preparation customarily performed at the mine site.</p>
          <p>
A mine that manufactures a small amount of finished products will be classified in Sector 21, Mining, Quarrying, and Oil and Gas Extraction. An establishment that mines whose primary output is a more finished manufactured product will be classified in Sector 31-33, Manufacturing.
</p>
</li>

            <li class="list-industry"><img alt="Construction" src="{{url_for('static', filename='construction.svg')}}" style="height: 70px"></a><strong>Construction</strong>
          <p>
          The Construction sector comprises establishments primarily engaged in the construction of buildings or engineering projects (e.g., highways and utility systems). Establishments primarily engaged in the preparation of sites for new construction and establishments primarily engaged in subdividing land for sale as building sites also are included in this sector.</p>
          <p>
Activities not included in this sector are: The installation and the ongoing repair and maintenance of telecommunications and utility networks is excluded from construction when the establishments performing the work are not independent contractors.As well as construction work performed by an enterprise primarily engaged in some business other than construction for its own account, using employees of the enterprise.
</p>
</li>
            <li class="list-industry"><img alt="Information" src="{{url_for('static', filename='information.svg')}}" style="height: 70px"></a>
<strong>Information</strong>
<p>
The Information sector comprises establishments engaged in the following processes: (a) producing and distributing information and cultural products, (b) providing the means to transmit or distribute these products as well as data or communications, and (c) processing data.</p>
<p>
The main components of this sector are the publishing industries, including software publishing, and both traditional publishing and publishing exclusively on the Internet; the motion picture and sound recording industries; the broadcasting industries, including traditional broadcasting and those broadcasting exclusively over the Internet; the telecommunications industries; Web search portals, data processing industries, and the information services industries.</p>
</li>
            <li class="list-industry"><img alt="Finance" src="{{url_for('static', filename='finance.svg')}}" style="height: 70px"></a>
<strong>Finance and insurance</strong>
<p>
The Finance and Insurance sector comprises establishments primarily engaged in financial transactions (transactions involving the creation, liquidation, or change in ownership of financial assets) and/or in facilitating financial transactions.</p>
</li>
            <li class="list-industry"><img alt="Finance" src="{{url_for('static', filename='education.svg')}}" style="height: 70px"></a>
<strong>Educational services</strong>
<p>
This instruction and training is provided by specialized establishments, such as schools, colleges, universities, and training centers. These establishments may be privately owned and operated for profit or not for profit, or they may be publicly owned and operated.
</p>
</li>

            <li class="list-industry"><img alt="Finance" src="{{url_for('static', filename='healthcare.svg')}}" style="height: 70px"></a>
<strong>Healthcare</strong>
<p>
The Health Care and Social Assistance sector comprises establishments providing health care and social assistance for individuals.

Excluded from this sector are aerobic classes, and nonmedical diet and weight reducing centers.</p>
</li>

            <li class="list-industry"><img alt="Finance" src="{{url_for('static', filename='arts.svg')}}" style="height: 70px"></a>
<strong>Arts, entertainment, and recreation</strong>
<p>
This sector comprises (1) establishments that are involved in producing, promoting, or participating in live performances, events, or exhibits intended for public viewing; (2) establishments that preserve and exhibit objects and sites of historical, cultural, or educational interest; and (3) establishments that operate facilities or provide services that enable patrons to participate in recreational activities or pursue amusement.</p>
<p>
Excluded from this sector are: (1) establishments that provide both accommodations and recreational facilities, such as hunting and fishing camps and resort and casino hotels (2) restaurants and night clubs that provide live entertainment in addition to the sale of food  (3) motion picture theaters, libraries and archives, and publishers of newspapers, books, and computer software etc (4) establishments using transportation equipment to provide recreational and entertainment services. 
</p>
</li>

        </div>
      </div>
    </div>

<div id="disqus_thread"></div>
<footer>
  <div class="container">
<div id = 'links'>
	<a href = "https://dew.herokuapp.com">National Map</a> &#124;
	<a href = "http://www.districtdatalabs.com/">District Data Labs</a> &#124; 
	<a href = "https://dew.herokuapp.com/about">About</a>
</div>
  </div>
</footer>
</body>
<script src="{{url_for('static', filename='dewmap.js')}}"></script>
