<meta charset="utf-8">
<head>
<link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="data.css"/>
</head>
<nav class="navbar navbar-default" style="margin: 0 auto; background-color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='dewlogo.svg')}}" style="height: 40px"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home')}}">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('platform')}}">DEW</a></li>
        <li><a href="{{ url_for('howto')}}">Using DEW</a></li>
        <li class="active"><a href="{{ url_for('methodology')}}">Methodology</a></li>
        <li><a href="{{ url_for('about')}}">About Us</a></li>
         </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="span12">
<h1>The Detailed Economic Window</h1>
<p>
In order to better understand the interplay of the many variables included in the Quarterly Census of Employment and Wages, we decided to use hierarchical clustering methods to help identify pockets that share similar industrial makeups regardless of their demographics or geography.</p>
<p>

We undertook both an industry-by-industry analysis and a broader analysis of all industries. Due to the high volatility of data on federal economic activity, we chose to focus only on private businesses to simplify the analysis. Annual averages of seven variables (no. of establishments, employment level, total wages, taxable wages, annual unemployment contributions, average weekly wages, and annual salary) were included for the seven identified industries (mining, information, construction, arts/entertainment, finance/insurance, education, and health care). 
</p>
<p>

In order to compensate for wide ranges population size and economic power in different counties, the variables were standardized and a correlation-based matrix was used (rather than the standard Euclidean distance measure). From there, hierarchical clustering methods with average, complete, and single linkages were fitted. These showed consistent results and significant divisions between five and 20 clusters. For the initial analysis we chose to use five clusters for the mapping.
</p>
<p>

Each cluster represents a group of counties that share similar characteristics across the seven industries and seven variables, though not necessarily the same magnitude of each of these quantities. One can see distinct regional differences on the map arising among the clusters. 
</p>
<p>

Though initial attempts at spatial analysis were less than successful, we hope to incorporate this area into better understanding how geography plays a role in concentrations of different industries.
</p>
<p>

Moving forward, we hope to apply this method to historical data going back in five-year intervals to understand how these groupings may have shifted. Additionally, though the initial prototype is limited to only federal and private spending and seven industries, future iterations of DEW will expand to include more levels of spending and other industries, where feasible.
</p>

</div>
</div>
</div>
 <div class="footer">
   <div class="container-fluid">
     <div class ="col-md-12 text-left">
   <h4 id="footertext">2015 - Product of District Data Labs Incubator Program</h4>
 </div>
 </div>
 </div>
