<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static',filename='keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">

  <link rel="stylesheet" type="text/css" href="tooltip.css"/>
  <script src="{{url_for('static', filename='d3.min.js')}}"></script>
  <script src="{{url_for('static', filename='queue.min.js')}}"></script>
  <script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>
  <script src="{{url_for('static', filename='jquery-1.10.2.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="data.css"/>
  <link rel="stylesheet" type="text/css" href="platform.css"/>
</head>
<nav class="navbar navbar-default" style="margin: 0 auto; background-color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='dewlogo.svg')}}" style="height: 40px"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home')}}">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="{{ url_for('platform')}}">DEW</a></li>
        <li><a href="{{ url_for('howto')}}">Using DEW</a></li>
        <li><a href="{{ url_for('methodology')}}">Methodology</a></li>
        <li><a href="{{ url_for('about')}}">About Us</a></li>
         </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
  <div class="container-fluid">
    <div class="row">
           <div class="col-sm-12">
             <p><em>State selected metrics to be added at a later date.</em></p>
  <select id="Marque" onchange="updatevariable(this.value)">
    <option value="01">State</option>
	<option value="01">Alabama</option>
	<option value="02">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
</select>	
  </select>
 <script type="text/javascript">
    var iframevar = "01";
    var loc = "https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=04000US" + iframevar + "&chartDataID=housing-migration_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Population+migration+since+previous+year&initialSort=&statType=scaled-percentage";
 
    function updatevariable(data) { 
      iframevar = data.value;
    }
    document.getElementById("cr-embed-04000US01-housing-migration_distribution").setAttribute('src', loc);
</script>
</div>
</div>
</div>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            <strong>Household Income</strong>
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
<iframe id="cr-embed-01000US-economics-income-household_distribution" class="census-reporter-embed" src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=01000US&chartDataID=economics-income-household_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Household+income&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
           </div>
          </div>
          <div class="chart-notes">
            <p>Data provided by the Bureau of the Census</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            <strong>Educational Attainment</strong>
          </div>
          <div class="chart-stage">
                        <div id="grid-1-1">
<iframe id="cr-embed-01000US-social-educational_attainment_distribution" class="census-reporter-embed" src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=01000US&chartDataID=social-educational_attainment_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=Universe%3A+Population+25+years+and+over&chartTitle=Population+by+minimum+level+of+education&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
        </div>
        </div>
          <div class="chart-notes">
            <p>Data provided by the Bureau of the Census</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            <strong>Population Migration</strong>
          </div>
          <div class="chart-stage">
                                    <div id="grid-1-1">
<iframe id="cr-embed-01000US-housing-migration_distribution" class="census-reporter-embed" src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=01000US&chartDataID=housing-migration_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Population+migration+since+previous+year&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
                                    </div>
         </div>
          <div class="chart-notes">
            <p>Data provided by the Bureau of the Census</p>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-12">
    <h2>Explore industrial concentration in your neighborhood</h2>
    <h3>The map is fully zoomable</h3>
        <div class="chart-wrapper">
          <div class="chart-title">
    <form id="totalCap">
		<select id="selectType" class="select">
      <!-- <option value="lq_11">Agriculture, forestry, fishing and hunting</option> -->
			<option value="lq_21">Mining, quarrying, and oil and gas extraction</option>
      <!-- <option value="lq_22">Utilities</option> -->
			<option value="lq_23">Construction</option>
      <!-- <option value="lq_42">Wholesale trade</option> -->
			<option value="lq_51">Information</option>
			<option value="lq_52">Finance and insurance</option>
      <!-- <option value="lq_53">Real estate and rental and leasing</option> -->
      <!-- <option value="lq_54">Professional and technical services</option> -->
      <!-- <option value="lq_55">Management of companies and enterprises</option> -->
      <!-- <option value="lq_56">Administrative and waste servics</option> -->
			<option value="lq_61">Educational services</option>
			<option value="lq_62">Health care and social assistance</option>
			<option value="lq_71">Arts, entertainment and recreation</option>
      <!-- <option value="lq_72">Accomodation and food services</option> -->
      <!-- <option value="lq_81">Other services, expect public administration</option> -->
      <!-- <option value="lq_92">Public administration</option> -->
		</select>
	</form>
</div>
          <div class="chart-stage">
                  <svg id="d3map"></svg>
          </div>
          <div class="chart-notes">
            <p>Private Industrial concentrations only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='holder.js')}}"></script>
  <script src="{{url_for('static', filename='keen.min.js')}}"></script>
  <script src="{{url_for('static', filename='meta.js')}}"></script>


  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>
 <div class="footer">
   <div class="container-fluid">
     <div class ="col-md-12 text-left">
   <h4 id="footertext">2015 - Product of District Data Labs Incubator Program</h4>
 </div>
 </div>
 </div>
</body>
<script src="{{url_for('static', filename='dewmap.js')}}"></script>
<script src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/js/embed.chart.make.js"></script>
</html>

