<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static',filename='keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">

  <link rel="stylesheet" type="text/css" href="tooltip.css"/>
  <script src="{{url_for('static', filename='d3.min.js')}}"></script>
  <script src="{{url_for('static', filename='queue.min.js')}}"></script>
  <script src="{{url_for('static', filename='topojson.v1.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="platform.css"/>
</head>
<nav class="navbar navbar-default" style="margin: 0 auto; background-color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='dewlogo.svg')}}" style="height: 40px"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('home')}}">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('platform')}}">DEW</a></li>
        <li><a href="{{ url_for('howto')}}">Using DEW</a></li>
        <li><a href="{{ url_for('methodology')}}">Methodology</a></li>
        <li><a href="{{ url_for('about')}}">About Us</a></li>
         </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
<iframe id="cr-embed-01000US-economics-income-household_distribution" class="census-reporter-embed" src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=01000US&chartDataID=economics-income-household_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Household+income&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
            </div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
<iframe id="cr-embed-01000US-social-educational_attainment_distribution" class="census-reporter-embed" src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=01000US&chartDataID=social-educational_attainment_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=Universe%3A+Population+25+years+and+over&chartTitle=Population+by+minimum+level+of+education&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
<iframe id="cr-embed-01000US-housing-migration_distribution" class="census-reporter-embed" src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/iframe.html?geoID=01000US&chartDataID=housing-migration_distribution&dataYear=2013&chartType=histogram&chartHeight=200&chartQualifier=&chartTitle=Population+migration+since+previous+year&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
    <form id="totalCap">
		<select id="selectType" class="select">
      <!-- <option value="lq_11">Agriculture, forestry, fishing and hunting</option> -->
			<option value="lq_21">Mining, quarrying, and oil and gas extraction</option>
      <!-- <option value="lq_22">Utilities</option> -->
			<option value="lq_23">Construction</option>
      <!-- <option value="lq_42">Wholesale trade</option> -->
			<option value="lq_51">Information</option>
			<option value="lq_52">Finance and insurance</option>
      <!-- <option value="lq_53">Real estate and rental and leasing</option> -->
      <!-- <option value="lq_54">Professional and technical services</option> -->
      <!-- <option value="lq_55">Management of companies and enterprises</option> -->
      <!-- <option value="lq_56">Administrative and waste servics</option> -->
			<option value="lq_61">Educational services</option>
			<option value="lq_62">Health care and social assistance</option>
			<option value="lq_71">Arts, entertainment and recreation</option>
      <!-- <option value="lq_72">Accomodation and food services</option> -->
      <!-- <option value="lq_81">Other services, expect public administration</option> -->
      <!-- <option value="lq_92">Public administration</option> -->
		</select>			
	</form>          </div>
          <div class="chart-stage">
                  <svg id="map"></svg>
          </div>
          <div class="chart-notes">
            Notes go down here
          </div>
        </div>
      </div>
    </div>



    </div>
  </div>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='holder.js')}}"></script>
  <script src="{{url_for('static', filename='keen.min.js')}}"></script>
  <script src="{{url_for('static', filename='meta.js')}}"></script>


  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

</body>
<script src="{{url_for('static', filename='dewmap.js')}}"></script>
<script src="https://s3.amazonaws.com/embed.censusreporter.org/1.0/js/embed.chart.make.js"></script>
</html>

